Checks: >
  bugprone-*,
  clang-analyzer-*,
  cppcoreguidelines-*,
  modernize-*,
  performance-*,
  readability-*,
WarningsAsErrors: ''
HeaderFilterRegex: '.*'
FormatStyle: file
ExtraArgs: ['-std=c++23']
