# Build artifacts
build/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
*.o
*.obj
*.so
*.a
*.out
*.exe
*.log

# Nix
result
.nix-gc*
.direnv


# VSCode/JetBrains/other IDEs
.vscode/
.idea/
*.swp
*.swo
*.bak

# OS files
.DS_Store
Thumbs.db

# Justfile backup
justfile.bak

# docs
docs